---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="404">
    <div class="hero bg-base-200 min-h">
        <div class="hero-content text-center">
            <div class="max-w-md">
                <img src="https://http.cat/status/404.jpg" />
                <br />
                <a class="btn btn-primary" href="/">Go Home</a>
            </div>
        </div>
    </div>
</Layout>
